<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- SEO -->
    <meta name="author" content="Juliano Beig Capretz" />
    <meta
      name="description"
      content="Assistencia Técnica Especializada para computadores e celulares na região de Rio Claro com o melhor custo benefício"
    />
    <meta
      name="keywords"
      content="assistencia, Assistência técnica, Celulares, Smartphones, Tablets, Computadores, Notebooks, Reparo, Manutenção, Troca de peças, Conserto, Problemas técnicos, Atendimento ao cliente, Suporte técnico, Diagnosticar, Solução de problemas, Hardware, Software, nova odessa, barato, remoção de virus, formatação, atualização de sistema, limpeza completa, melhora de performace, backup, intalação de peças"
    />
    <title>AstroSpotify</title>
  </head>
  <body>
    <slot />
  </body>
</html>


<style></style>