---
import {
  Home as HomeIcon,
  Search,
  Library,
  ChevronLeft,
  ChevronRight,
  Play as Playb,
  Shuffle,
  SkipBack,
  SkipForward,
  Repeat,
  Mic2,
  LayoutList,
  Volume,
  Laptop2,
  Maximize2,
} from "lucide-react";
---

<aside class="w-80 bg-zinc-950 p-6">
    <div class="flex items-center gap-2">
      <div class="balls bg-red-500"></div>
      <div class="balls bg-yellow-500"></div>
      <div class="balls bg-green-500"></div>
    </div>

    <nav class="space-y-5 mt-10">
      <a href="" class="side-bar"><HomeIcon />Home</a>
      <a href="" class="side-bar"><Search />Search</a>
      <a href="" class="side-bar"><Library />Your Library</a>
    </nav>

    <nav class="mt-6 pt-6 border-t border-zinc-800 flex flex-col gap-3">
      <a class="playlist" href="">Hot Hits Brasil</a>
      <a class="playlist" href="">Aniver Funk</a>
      <a class="playlist" href="">My Playlist #13</a>
      <a class="playlist" href="">Top Brasil</a>
    </nav>
  </aside>